<settings>
    <localRepository>/jenkins/maven/repo</localRepository>
    <repositories>
        <repository>
          <id>maven-releases</id>
          <url>http://oss.sonatype.org/service/local/staging/deploy/maven2</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>maven-snapshots</id>
          <url>http://oss.sonatype.org/content/repositories/snapshots</url>
          <layout>default</layout>
            <releases>
              <enabled>false</enabled>
            </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
</settings>
